<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h1>New Post</h1>
        <div>
            <form action="/" method="get">
                <button>Home</button>
            </form>
        </div>
    </header>
    <form class="postForm" action="/add?_method=Put" method="post">
        <div>
            <label class="l1" for="topic">Topic:</label>
            <input class="r1" type="text" name="topic" value="">
            <br>
            <label class="l2" for="description">Description:</label>
            <textarea class="r2" type="textArea" name="description" value=""></textarea>
            <br>
            <label class="l3" for="author">Author:</label>
            <input  class="r3" type="text" name="posted_by" value="">
            <br>
        </div>
        <button>Post</button>
    </form>
</body>

</html>